ENDPOINT=https://your-endpoint.solana-mainnet.example.com:10000
X_TOKEN=your_x_token_here
ACCOUNT_INCLUDE=6EF8rrecthR5Dkzon8Nwu78hRvfCKubJ14M5uBEwF6P,pAMMBay6oceH9fJKBRHGP5D4bD4sWpmSwMn52FMfXEA
LOG_SIG=true
RUN_DURATION_MINS=60
